<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=DESKTOP-MCN1KET;
         Initial Catalog=IPDB; Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>